{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="col-sm-10">
     <h1 class="my-5 font-weight-bold">Our Mission</h1>
     <p class="font-weight-normal text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem doloribus quia eum aut? Accusamus natus accusantium consectetur quidem mollitia animi eius quam sapiente quibusdam, voluptatum maiores, et consequuntur ad dolor sit id ab ratione placeat dolorem repellat non quas nemo? Itaque, sapiente perspiciatis eveniet qui, reprehenderit laboriosam commodi numquam voluptatum ex vel unde provident corrupti nulla consequatur. Perspiciatis quis incidunt culpa temporibus repellat voluptatibus sunt esse ducimus expedita dolorem! Hic libero, exercitationem illo optio necessitatibus, reiciendis ea ut sapiente, nisi odio iste minima. Hic, cum fugit. Sunt, deleniti molestiae culpa quo veritatis debitis reiciendis vel, recusandae, blanditiis consequatur modi velit!</p>
     <div class='text-center'>
       <a href="{% url 'signup' %}" class="btn btn-primary btn-lg">Join Us</a>
      <br>
     </div>
     <a href="https://www.linkedin.com/in/raj-goyanka-872b441b0/"><i class="fab fa-linkedin-in"></i></a> 
     <a href="https://www.facebook.com/raj.goyanka.969/" class="ml-4"><i class="fab fa-facebook-f"></i></a>
    </div>
    
{% endblock content %}